/* basic styling */
h1, h2, h3 {
    margin: 0 0 0.5em 0;
}

h1, h2, h3, .sans, button {
    font-family: museo-sans, "Helvetica Neue", sans-serif;
    color: black;
}

p {
    margin-top: 1em;
    margin-bottom: 1em;

    text-align: justify;
}

body {
    line-height: 1.5;
    font-family: museo_slab500, Times, serif;
}

.aligned {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    width: 100%;
}

section {
    padding: 1em;
}

.row {
    margin: 0 !important;
}

@font-face {
    font-family: 'museo_slab500';
    src: url('../fonts/Museo_Slab_500_2-webfont.eot');
    src: url('../fonts/Museo_Slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Museo_Slab_500_2-webfont.woff2') format('woff2'),
    url('../fonts/Museo_Slab_500_2-webfont.woff') format('woff'),
    url('../fonts/Museo_Slab_500_2-webfont.ttf') format('truetype'),
    url('../fonts/Museo_Slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

#midi-files-section {
    background-color: #c3ceb8;
}

#charts-section {
    background-color: white;
}

.chart {
    height: 400px;
}

#footer-section {
    background-color: slategray;
    color: white;
}

.radio-button-select, .player {
    margin-bottom: 0.5em;
}

.player > * {
    margin-right: 0.3em;
}

.github-banner {
    width: 10%;
    max-width: 11em;

    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #575757;
    border-style: dashed;
    border-color: #575757;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

ul.file-list {
    list-style-type: none;
    padding-left: 0 !important;
    padding-right: 1em;
    margin: 0;
}

ul.file-list:last-child {
    padding: 0;
}

.file-list li {
    border-bottom: 1px solid #828282;
    line-height: 180%;
}

.file-list li:last-child {
    border: none;
}

.file-list li a {
    text-decoration: none;
    color: #000;
    display: block;

    -webkit-transition: font-size 0.2s ease;
    -moz-transition: font-size 0.2s ease;
    -o-transition: font-size 0.2s ease;
    transition: font-size 0.2s ease;
}

.file-list li a:hover {
    font-size: 15px;
}